*{
    box-sizing: border-box;
}
body{
    margin-left: 19px;
    background-color: #E5E5E5;
}
h1 {
    font-family:'Righteous', cursive;
    font-size: 44px;
    font-weight: 400;
    
}
h2 {
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 4px;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color:#A6A6A6;
    margin-bottom: 5px;
}
h5{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight:700;
    color:white;
    margin-bottom: 28px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    color: white;
    padding-left: 19px;
    background-color: #CF2B2B;
}
.conteudo{
    margin-top: 96px;
}
.conteudo img{
    height: 87px;
    width: 144px;
    margin-bottom: 8px;
}
.subtitulo{
    font-family:'Righteous', cursive;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
    padding-top: 27px;
    padding-bottom: 17px;
}
.pratos{
    display: flex;
    overflow-x: scroll;
}
.prato{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 172px;
    border-radius: 9px;
    padding:17px 9px;
    margin-right: 16px;
    height: 216px;
    border: 5px solid white;
}
.prato:hover{
    cursor: pointer;
}
.bebidas{
    display: flex;
    overflow-x: scroll;
}
.bebida{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 202px;
    width: 172px;
    border-radius: 9px;
    padding:17px 9px;
    margin-right: 16px;
    border: 5px solid white;
}
.bebida:hover{
    cursor: pointer;
}
.sobremesas{
    display: flex;
    overflow-x: scroll;
    margin-bottom: 92px;
}
.sobremesa{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 197px;
    width: 172px;
    border-radius: 9px;
    padding:17px 9px;
    margin-right: 16px;
    justify-content: space-between;
    border: 5px solid white;
}
.sobremesa:hover{
    cursor: pointer;
}
.sobremesa img{
    height: 82px;
}
.barrafinal{
    display: flex;
    height: 92px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    background-color: white;
}
.incompleto{
    margin: 15px 25px;
    background-color: #CBCBCB;
    height: 61px;
    width: 100%;
    font-size: 20px;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.incompleto:hover {
    cursor: pointer;
}
.completo{
    background-color:#32B72F;
    color:white;
    margin: 15px 25px;
    height: 61px;
    width: 100%;
    font-size: 20px;
    border-radius: 50px; 
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.completo:hover {
    cursor: pointer;
}
span {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.pselecionado{
    border-color:#32B72F;
}
.bselecionada{
    border-color:#32B72F;
}
.sselecionada{
    border-color:#32B72F;
}
.hidden {
    display: none;
}
.opaco{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    filter:opacity(85%);
    background-color: #FFFFFF;
}
.confirmacao{
    position: fixed;
    z-index: 1;
    top: 50%;
    left:19px;
    transform: translate(0, -176px);
    background-color:#50D074;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: white;
    width: calc(100% - 38px);
    height: 353px;
    border-radius: 9px;
    text-align:center;
    padding: 21px 24px 0px;
    box-shadow: 0px 0px 50px 1px #00000040;
}
.noscroll{
    overflow: hidden;
}
.continuar{
    background-color: white;
    color:#50D074;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    height:52px;
    border-radius:100px;
    margin-top: 24px;
    width: 100%;
}
.cancelar{
    background-color:#50D074;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    height:52px;
    width: 100%;
}
.continuar:hover{
    cursor: pointer;
}
.cancelar:hover{
    cursor: pointer;
}
.final{
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}